1. Lanzas una moneda justa (es decir, la probabilidad de obtener cara es $0.5$ ) tres veces. Suponga que todas las secuencias de resultados de lanzamiento de moneda, de longitud 3, son igualmente probables. Determine la probabilidad de cada uno de los siguientes eventos:

    a. $\{HHH\}$ $3$ caras.
    
    b. $\{HTH\}$ cara, águila, cara.
    
    c. Cualquier sucesión con dos caras y un águila (en cualquier orden).
    
    d. Cualquier sucesión en donde el número de caras sea mayor o igual al número de      águilas.

In [ ]:
from itertools import product
from IPython.core.display import display_markdown
import pandas as pd
Universo = set(product({"A", "S"}, repeat = 3))
Universo
tresA = {omega for omega in Universo if omega[0] == "A" and omega[1]=="A" and omega[2] == "A"}
tresA
a = len(tresA)/len(Universo)
incisob = {omega for omega in Universo if omega[0] == "A" and omega[1]=="S" and omega[2] == "A"}
b = len(incisob)/len(Universo)
incisoc = {omega for omega in Universo if omega.count("S") == 2 and omega.count("A") == 1}
c = len(incisoc)/len(Universo)
incisod = {omega for omega in Universo if omega.count("S") >= omega.count("A")}
d = len(incisod)/len(Universo)
print(a)
print(b)
print(c)
print(d)

0.125
0.125
0.375
0.5

2. En el ejercicio anterior, calcula las probabilidades dado que sabes que cayó una cara en el primer lanzamiento.

In [ ]:
# Aquí va tu código
respuesta = {omega for omega in Universo if omega[0] == "S"}
r = len(respuesta)/len(Universo)
r

0.5

3. Alicia y Samuel eligen al azar un número real entre cero y uno. Suponemos que el par de números se elige sobre el cuadrado unitario, de modo que la probabilidad de un evento es igual a su área. Definimos los siguientes eventos:

    A: la magnitud de la diferencia de los dos números es mayor que $1/3$.

    B: Al menos uno de los números es mayor que $1/4$.

    C: LA suma de los dos números es $1$.

    D: El número de Alicia es mayor que $1/4$

Calcula la probabilidad de cada evento.

In [ ]:
# Aquí va tu código 
import numpy as np
np.random.random(2)
conteo = 0
loops = 1000

for x in range(1,loops):
  Alicia = np.random.random()
  Samuel = np.random.random()
  if abs(Alicia-Samuel) > (1/3):
    conteo = conteo + 1

a= conteo / loops

conteo2 = 0

for x in range(1,loops):
  Alicia = np.random.random()
  Samuel = np.random.random()
  if Alicia > 0.25 or Samuel > 0.25:
    conteo2 = conteo2 + 1



b= conteo2 / loops
b

conteo3 = 0

for x in range(1,loops):
  Alicia = np.random.random()
  Samuel = np.random.random()
  if Alicia + Samuel == 1:
    conteo3 = conteo3 + 1

c = conteo3/loops

conteo4 = 0

for x in range(1,loops):
  Alicia = np.random.random()
  Samuel = np.random.random()
  if Alicia > (1/4):
    conteo4 = conteo4 + 1

d = conteo4/loops

print("Respuesta a: " + str(a))
print("Respuesta b: " + str(b))
print("Respuesta c: " + str(c))
print("Respuesta d: " + str(d))

Respuesta a: 0.462
Respuesta b: 0.933
Respuesta c: 0.0
Respuesta d: 0.733

In [ ]:
# codigo calse

from itertools import product

!pip install python-intervals==1.4.0

import intervals as I

U = set(product())

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting python-intervals==1.4.0
  Downloading python_intervals-1.4.0-py2.py3-none-any.whl (10 kB)
Installing collected packages: python-intervals
Successfully installed python-intervals-1.4.0

4. Simula una sucesión de $5$ volados simultáneos (1 muestreo) con monedas honestas que consista de 100 observaciones. Registra tus datos en un DataFrame de Pandas.

In [ ]:
# Aquí va tu código
import numpy as np
import pandas as pd
df = pd.DataFrame()

for i in range(1,101):
  volados = np.random.binomial(1,0.5, 5)
  columna = f"muestra {i}"
  df[columna]=volados

df

,muestra 1,muestra 2,muestra 3,muestra 4,muestra 5,muestra 6,muestra 7,muestra 8,muestra 9,muestra 10,...,muestra 91,muestra 92,muestra 93,muestra 94,muestra 95,muestra 96,muestra 97,muestra 98,muestra 99,muestra 100
0,1,1,0,0,0,1,1,0,0,1,...,1,0,1,1,1,0,1,1,0,0
1,0,1,1,0,1,0,0,1,0,1,...,1,1,1,1,0,1,0,0,1,1
2,1,0,0,1,0,0,1,1,1,0,...,1,1,0,1,1,0,1,0,1,1
3,1,1,1,1,0,1,1,0,1,1,...,1,0,1,1,0,0,1,1,0,0
4,0,1,0,1,1,1,0,0,1,0,...,1,0,0,0,1,1,1,1,0,0